<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<div class="contenedor-form">
		<div class="toggle">
			<span> Crear cuenta </span>
		</div>

		<div class="formulario">
			<h2> Iniciar Sesión</h2>
			<form action="#">
				<input type="text" placeholder="Usuario" required>
				<input type="password" placeholder="Contraseña" required>
				<input type="submit" value="Iniciar Sesión">
			</form>
		</div>

		<div class="formulario">
			<h2> Crea tu Cuenta </h2>
			<form action="#">
				<input type="text" placeholder="DNI" required>
				<input type="text" placeholder="Nombre" required>
				<input type="text" placeholder="Apellidos" required>
				<input type="email" placeholder="Correo Electronico" required>
				<input type="password" placeholder="Contraseña" required>
				<input type="text" placeholder="Teléfono" required>
				<input type="text" placeholder="Nacionalidad" required>
				<input type="text" placeholder="N° documento Extranjero" required>
				<label> Genero </label> 
				<br/> <br/>
				<input type="radio" name="" id=""> Hombre
				<input type="radio" name="" id=""> Mujer
				<br/> <br/>
				<label> Fecha de Nacimiento </label>
				<input type="date" placeholder="Fecha de Nacimiento" required>
				<br/> <br/>
				<input type="text" placeholder="Direccion" required>
				<br/>
				<input type="submit" value="Registrarse">
			</form>
		</div>

		<div class="reset-password">
			<a href="#"> Olvide mi contraseña</a>
		</div>
	</div>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>